*{
    background-color: rgb(229, 149, 229);
   
}

.title{
border-radius: 10px;
margin-bottom: 10px;
text-align:center;
width: 210px;
color:#ff4456;
border: solid black 1px;
background-color: gray;
}

input[type="button"]
{
border-radius: 10px;
background-color:#ff4456;
color: black;
border-color:#e02034 ;
width:100%;
}
input[type="text"]
{
border-radius: 9px;
border-left: white;
border-right: white;
text-align: right;
background-color:rgb(255, 255, 255);
border-color: black  ;
width:100%
}
